<!DOCTYPE html>
<html lang="ro">
<%- include('../fragmente/head', { titlu }) %>
<body>
  <%- include('../fragmente/navbar') %>

  <main>
    <h1>404 - Pagina nu a fost găsită</h1>
    <p>Pagina pe care o cauți nu există.</p>
    <a href="/">Înapoi la prima pagină</a>
  </main>

  <%- include('../fragmente/footer') %>
</body>
</html>
