<head>
    <meta charset="UTF-8">
    <title>Navarre - Flori pentru orice ocazie</title>
    <meta name="author" content="Echipa Navarre">
    <meta name="keywords" content="flori, buchete, aranjamente florale, livrare flori">
    <meta name="description" content="Navarre oferă buchete și aranjamente florale pentru orice ocazie. Livrare rapidă și flori proaspete.">

    <!-- CSS pentru stilizarea generală -->
    <link rel="stylesheet" href="resurse/stiluri/general.css" type="text/css" />
    <link rel="stylesheet" href="resurse/stiluri/general1000.css" type="text/css" media="screen and (max-width:1000px)" />
    <link rel="stylesheet" href="resurse/stiluri/general700.css" type="text/css" media="screen and (max-width:700px)" />

    <link rel="stylesheet" href="print.css" media="print">   

    <!-- CSS pentru stilizarea meniului -->
    <link rel="stylesheet" href="resurse/stiluri/nav.css" type="text/css" />
    <link rel="stylesheet" href="resurse/stiluri/nav1000.css" type="text/css" media="screen and (max-width:1000px)" />
    <link rel="stylesheet" href="resurse/stiluri/nav700.css" type="text/css" media="screen and (max-width:700px)" />

    <% if (pagina_css) { %>
    <link rel="stylesheet" href="/resurse/stiluri/<%= pagina_css %>.css" type="text/css" />
    <% } %>

    <!-- FontAwesome pentru iconițe -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="resurse/imagini/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resurse/imagini/web-app-manifest-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resurse/imacini/web-app-manifest-192x192.png">
    <link rel="manifest" href="resurse/imagini/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
