<header>
    <%- include('navbar') %>
    <li class="nav-item d-flex align-items-center ms-auto me-2">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="switch-tema">
    <label class="form-check-label" for="switch-tema">🌙</label>
  </div>
</li>

</header>
