<header>
    <h1 id="top">Navarre</h1>
    <nav>
        <input type="checkbox" id="ch-menu">
        <label for="ch-menu" id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <ul class="meniu">
            <!-- Acasă -->
            <li class="buton-acasa">
                <a href="/">
                    <span class="text-icon">Acasă</span>
                    <span class="imag-icon"><i class="fas fa-home"></i></span>
                </a>
            </li>

            <!-- Despre -->
            <li>
                <a href="/despre">
                    <span class="text-icon">Despre</span>
                    <span class="imag-icon"><i class="fas fa-info-circle"></i></span>
                </a>
            </li>

            <!-- Galerie -->
            <li><a href="/galerie">Galerie</a></li>

            <li><a href="/produse">Produse</a></li>

            <!-- Aranjamente -->
            <li>
                <a href="#"><span class="text-icon">Aranjamente</span><span class="imag-icon"><i class="fas fa-leaf"></i></span></a>
                <ul>
                    <li><a href="/aranjamente/nunta">Nuntă</a></li>
                    <li><a href="/aranjamente/botez">Botez</a></li>
                    <li><a href="/aranjamente/zi%20de%20naștere">Zi de naștere</a></li>
                    <li><a href="/aranjamente/custom">Custom</a></li>
                </ul>
            </li>

            <!-- Flori -->
            <li>
                <a href="#"><span class="text-icon">Flori</span><span class="imag-icon"><i class="fas fa-seedling"></i></span></a>
                <ul>
                    <li><a href="/flori/trandafiri">Trandafiri</a></li>
                    <li><a href="/flori/lalele">Lalele</a></li>
                    <li><a href="/flori/floarea-soarelui">Floarea-soarelui</a></li>
                    <li><a href="/flori/crini">Crini</a></li>
                </ul>
            </li>

            <!-- Sărbători -->
            <li>
                <a href="#"><span class="text-icon">Sărbători</span><span class="imag-icon"><i class="fas fa-gift"></i></span></a>
                <ul>
                    <li><a href="/sarbatori/craciun">Crăciun</a></li>
                    <li><a href="/sarbatori/paste">Paște</a></li>
                    <li><a href="/sarbatori/halloween">Halloween</a></li>
                    <li><a href="/sarbatori/8%20martie">8 Martie</a></li>
                </ul>
            </li>

            <!-- Contact -->
            <li>
                <a href="#"><span class="text-icon">Contact</span><span class="imag-icon"><i class="fas fa-envelope"></i></span></a>
                <ul>
                    <li><a href="#contact">Livrare</a></li>
                    <li><a href="#contact">Retur</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
