<header>
    <h1 id="top">Navarre</h1>
    <nav>
        <input type="checkbox" id="ch-menu">
        <label for="ch-menu" id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <ul class="meniu">
            <!-- Acasă cu animație -->
            <li class="buton-acasa">
                <a href="/">
                    <span class="text-icon">Acasă</span>
                    <span class="imag-icon"><i class="fas fa-home"></i></span>
                </a>
            </li>
            <li>
                <a href="/despre"><span class="text-icon">Despre</span><span class="imag-icon"><i class="fas fa-info-circle"></i></span></a>
            </li>

            <li><a href="/galerie">Galerie</a></li>    
                   
            <!-- Aranjamente -->
            <li>
                <a href="#"><span class="text-icon">Aranjamente</span><span class="imag-icon"><i class="fas fa-leaf"></i></span></a>
                <ul>
                    <li><a href="#">Nuntă</a></li>
                    <li><a href="#">Botez</a></li>
                    <li><a href="#">Zi de naștere</a></li>
                    <li><a href="#">Custom</a></li>
                </ul>
            </li>
            <!-- Flori -->
            <li>
                <a href="#"><span class="text-icon">Flori</span><span class="imag-icon"><i class="fas fa-seedling"></i></span></a>
                <ul>
                    <li><a href="#">Trandafiri</a></li>
                    <li><a href="#">Lalele</a></li>
                    <li><a href="#">Floarea-soarelui</a></li>
                    <li><a href="#">Crini</a></li>
                </ul>
            </li>
            <!-- Sărbători -->
            <li>
                <a href="#"><span class="text-icon">Sărbători</span><span class="imag-icon"><i class="fas fa-gift"></i></span></a>
                <ul>
                    <li><a href="#">Crăciun</a></li>
                    <li><a href="#">Paște</a></li>
                    <li><a href="#">Halloween</a></li>
                    <li><a href="#">8 Martie</a></li>
                </ul>
            </li>
            <!-- Contact -->
            <li>
                <a href="#"><span class="text-icon">Contact</span><span class="imag-icon"><i class="fas fa-envelope"></i></span></a>
                <ul>
                    <li><a href="#">Livrare</a></li>
                    <li><a href="#">Retur</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
